@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --text: white;
    --highlight: #eccf00;
    --bg: #0b0d12;
}

body {
    color: var(--text);
    background-color: var(--bg);
}

.gradient-01 {
    background-image: linear-gradient(
      270deg,
      #1C1E22 0%,
      #1C1E22 26%,
      #1C1E22 39%,
      #1C1E22 50%,
      #1C1E22 61%,
      #1C1E22 74%,
      #1C1E22 100%
    );
    filter: blur(225px);
    opacity: 1;
}

.bg-blur {
    backdrop-filter: blur(10px);
     /* Adjust the rgba values as needed */
}