@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --highlight: white;
    --bg: black;
}

body {
    color: var(--highlight);
    background-color: var(--bg);
}

.gradient-01 {
    background-image: linear-gradient(
      270deg,
      #252B34 0%,
      #252B34 26%,
      #252B34 39%,
      #252B34 50%,
      #252B34 61%,
      #252B34 74%,
      #252B34 100%
    );
    filter: blur(225px);
    opacity: 1;
}

/* .video-container {
    width: 1000px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 25px rgba(147, 161, 215, 0.3), 0 0 50px rgba(147, 161, 215, 0.3);
    border-radius: 3xl;
}

.video-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: inherit;
    filter: blur(8px) brightness(1.2);
    box-shadow: 0 0 25px rgba(147, 161, 215, 0.3), 0 0 50px rgba(147, 161, 215, 0.3);
    border-radius: 25px;
}

iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
} */